build/
.cache
myenv/
prompt.txt
compile_commands.json
output.txt
log.txt
collected_sources.txt
out.log
test-logs/
node_modules/
tests/inspector/playwright/.npm-cache/
tests/inspector/playwright/.ms-playwright/
